<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Photo Albums</title>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "modernizr/modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= javascript_include_tag "jquery/jquery" %>
  <%= javascript_include_tag "foundation/js/foundation" %>
  <%= javascript_include_tag "handlebars/handlebars" %>
  <%= javascript_include_tag "ember/ember" %>
  <%= javascript_include_tag "ember-data/ember-data" %>
  <%= javascript_include_tag "momentjs/moment" %>
  <%= javascript_include_tag "aws-sdk/dist/aws-sdk" %>
  <%= javascript_include_tag "node-uuid/uuid" %>
  <%= javascript_include_tag "application" %>
</body>
</html>
