<div class="layout off-canvas-wrap">
  <div class="app-container inner-wrap">
    <nav class="top tab-bar">
      <section class="left-small">
        <a id="show-nav-main" class="menu-icon left-off-canvas-toggle"><span>Menu</span></a>
      </section>
      <section class="middle tab-bar-section">
        <h1>
          {{#if album}}
            {{#link-to "album" album}}
              {{partial "header"}}
            {{/link-to}}
          {{else}}
            {{partial "header"}}
          {{/if}}
        </h1>
      </section>
      <section class="right-small">
        {{#link-to "upload" class="upload"}}
          {{#if isUploading}}
            {{upload-activity-indicator style="nav"}}
          {{else}}
            <i class="fa fa-cloud-upload"></i>
          {{/if}}
          <span>Upload</span>
        {{/link-to}}
      </section>
    </nav>
    <aside class="left-off-canvas-menu">
      <nav class="main">
        <ul class="off-canvas-list">
          <li><label>Albums</label></li>
          <li>
            <ol>
              <li>{{#link-to "album" "inbox"}}Inbox{{/link-to}}</li>
            </ol>
          </li>
        </ul>
      </nav>
    </aside>

    <div class="content">
      {{outlet}}
    </div>

    {{#if uploadError}}
      <div data-alert class="upload-error">
        We could not upload {{uploadError.filename}}. It might work if you try again.
        <a href="#" class="close">&times;</a>
      </div>
    {{/if}}

    <a class="exit-off-canvas"></a>
  </div>
</div>
